{% extends 'partials/base.html.twig' %}

{% block content %}
    <section class="post">
        {% set pageHeader = page.header %}
        {% include 'partials/header.html.twig' %}
    {{ page.content }}
    </section>
{% endblock %}
